# Dependabot configuration file.
version: 2
enable-beta-ecosystems: true

updates:
  - package-ecosystem: "pub"
    directory: "/"
    schedule:
      interval: "monthly"
    # TODO: Remove this if / when the default changes (dependabot/dependabot-core/issues/4979)
    versioning-strategy: increase-if-necessary

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
